.browse-body
{
  margin: 0;
  padding: 0;
  background-color: rgba(250, 235, 140, 1);
  font-family: 'Merriweather';
 
}

.browse-form {
    
  width: 100%;
  margin: 1% auto 0;
  margin-bottom: 0;
  padding: 20px;
  height: 100%;
  
  }
  .browse-form
  {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .browse-form h1{
    text-align: center;
    font-size: 50px;
  color:white;
  padding: 20px;
  margin-top: 30px; 
  margin-bottom: 100px;

  text-shadow:  1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  .browse-form .ImagineBrowseForm
  {
    display: flex; 
    border-radius: 25px;
    justify-content: center;
    margin-top: 40px;
  
    filter: contrast(120%);
    filter:drop-shadow(0 0 6px rgba(18, 18, 100, 1));
  }
  .browse-form p
  {
    display: flex; 
    text-align: left;
    font-size: 28px;
  color:rgba(18, 18, 100, 1);
  font-family: 'Merriweather';
  margin-top: 10px; 
  margin-left: 180px;
  }
  .browse-form  .scroll-bg{
    margin-left: 180px;
    margin-right: 100px;
    width: 1289px;
    color:rgba(18, 18, 100, 1);
    background-color:white;
    border: 2px solid rgba(18, 18, 100, 1);;
    font-size: 20px;
    text-align: center;
    
    font-family: 'Merriweather';
  }
  .scroll-div{
    width:500 px;
    height: 300px;
    overflow:hidden;
    overflow-y: scroll;
    margin-top: 1px;
  }
  .browse-form .scroll-bg1{
    margin-left: 180px;
    
    width: 1289px;
    color:rgba(18, 18, 100, 1);
    background-color:white;
    border: 2px solid rgba(18, 18, 100, 1);;
    font-size: 20px;
    text-align: center;
    
    font-family: 'Merriweather';
  }
  .scroll-div1{
    width:400 px;
    height: 300px;
    overflow:hidden;
    overflow-y: scroll;
  }
  .butoaneFormular{
    display: flex;
    justify-content: flex-start;
    margin-left:180px;
  }
  .butoaneFormular .submit :hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .butoaneFormular button {
 
    width: 170px;
    height: 50px;
    border: 2px solid #0f1870; 
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 65px;
    margin-bottom: 65px;
    margin-left:75px;
    font-size: 15px;
    text-align: center;
    font-family: 'Merriweather';
    color: white;
    background-color: rgba(18, 18, 100, 1);
    
  }

.butoaneSubmissions{
  display: flex;
  justify-content: flex-start;
  margin-left:490px;
}
.butoaneSubmissions.submit :hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.butoaneSubmissions button {
 
  width: 210px;
  height: 50px;
  border: 2px solid #0f1870; 
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 65px;
  margin-bottom: 65px;
  margin-left:35px;
  font-size: 15px;
  text-align: center;
  font-family: 'Merriweather';
  color: white;
  background-color: rgba(18, 18, 100, 1);
  
}

.itemiiDeSelectat p {
  margin-right: 100px;
  cursor: pointer;
}

.itemiiDeSelectat p:hover {
  color: blue;
}

.itemiiDeSelectat p.selected {
  color: red;
}
.itemiiDeSelectat{
  width: 500px;
}